<h1>Welcome - Raspberry PI</h1>

<div class="green led">
  <div class="controls">
    <input type="button" value="ON"></input>  
    <input type="button" value="OFF"></input>
  </div>
</div>

<div class="led red">
  <div class="controls">
    <input type="button" value="ON"></input>  
    <input type="button" value="OFF"></input>
  </div>
</div>
